extends /templ/_page.pug

block title
	title CSS Wish List - Ana Tudor

block extra_style
	link(rel='stylesheet' src='index.css')

block header
	h1 CSS Wish List

block content
	article
    h2 Unit division in 
      code calc()
    section
      p Have you seen
