extends /templ/_page.pug

block title
	title index

block header
	h1 no fun running from the mummy
	+navi()

block content
	main
		p boo ya!
		p
			{{- range file.Walk "src/articles" }}
			{{- if and (not (file.IsDir .)) (eq (filepath.Ext .) ".pug") }}
			a(href='{{strings.TrimPrefix "src/articles/" (filepath.Dir .)}}/') {{strings.TrimPrefix "src/articles/" (filepath.Dir .)}}
			{{- end}}
			{{- end}}
