extends /templ/_page.pug

block title
	title index

block header
	h1 no fun running from the mummy
	+navi()

block content
	main
		p boo ya!
		p
			{{- range file.ReadDir "src/articles" }}{{ if (file.IsDir (print "src/articles/" .)) }}
			a(href='/articles/{{.}}/') {{.}}
			{{end}}{{- end}}
