doctype html
html(lang="en")

	head
		include templ/_head.pug
		title yay, title

	body
		main 
			p boo ya!
			p
				a(href='/articles/2022/dummy.html') dummy
			
			p
				a(href='/articles/2019/mummy.html') mummy
		include templ/_foot.pug
