extends templ/_page.pug

block title
	title bammm

block header
	h1 heading
	+navi(0)

block content
	main
		p boo ya!
		p
			a(href='/articles/2022/dummy.html') dummy
		p
			a(href='/articles/2019/mummy.html') mummy
