extends templ/_page.pug

block title
	title Ana Tudor

block header
	h1(aria-label='Ana Tudor: personal web page')
		span(aria-hidden='true' style='--i: 0') Ana Tudor
		span(aria-hidden='true' style='--i: 1') Ana Tudor
		span(aria-hidden='true) Ana Tudor
	//+navi(0)

block content
	section
		p Hi, I'm Ana. I 
			a(href='https://codepen.io/thebabydino' target='_blank') code
			|  stuff. I'm a showoff, so I sometimes 
			a(href='https://www.youtube.com/anatudor' target='_blank') record
			|  myself doing #{'this'}.
		//p I've never been good with words. My mom wrote all my compositions in school so I wouldn't fail literature. This short paragraph took me hours to write. My thoughts aren't made up of words, but of visuals. I see numbers arranged in space, geometric shapes, various images of the past. So everything I make is very visual as well.
		//p Got a small coding project? Hire me! You can do so by sending an email to vtib@protonmail.com. Note that you need to type out the email, copy-pasting won't work. Also note that nothing that's not within the realm of what I do will get forwarded to me. You can see work samples below.
		//h3 Styled range inputs
		//img(src='https://user-images.githubusercontent.com/76854602/161434400-ca04f4da-cd39-43ca-88f9-08d1f05d1580.png')
