$bg-1st: #0d1117;
$bg-2nd: #333;
$fg-1st: #eee;

* {
	margin: 0;
	padding: 0;
	max-width: 100%;
	background: transparent;
	color: inherit;
	font: inherit
}

a {
	display: inline-block;
	position: relative;
	padding: 1px 3px;
	background: linear-gradient(to right top, gold, hotpink);
	-webkit-background-clip: text;
	color: transparent;
	text-decoration: none;
	
	&::after {
		position: absolute;
		inset: 0;
		background-image: inherit;
		clip-path: inset(calc((1 - var(--hl, 0))*(100% - 2px)) 0 0);
		mix-blend-mode: difference;
		transition: clip-path .35s;
		content: ''
	}
	
	&:focus { outline: none }
	&:hover, &:focus { --hl: 1 }
}

html, body, h1 { display: grid }

html { min-height: 100% }

body {
	grid-template: max-content 1fr max-content/ min(50em, 100%);
	justify-content: center;
	overflow-x: hidden;
	background: $bg-1st;
	color: $fg-1st;
	font: 1.25em/ 1.375 ubuntu, trebuchet ms, arial, sans-serif
}

header, footer { text-align: center }

header {
	font-size: clamp(1em, 15vmin, 5em);
	font-weight: 900;
	filter: drop-shadow(13px 5px 13px $bg-1st)
}

h1 {
	span {
		--j: calc(1 - var(--i));
		--sgn: calc(2*var(--i) - 1);
		grid-area: 1/ 1;
		transform: translate(calc(var(--sgn)*3px), calc(var(--sgn)*-2px));
		--mask: 
			linear-gradient(8deg, 
					hsl(0, 0%, 100%, var(--j)) calc(50% - .5px), 
					hsl(0, 0%, 100%, var(--i)) calc(50% + .5px));
		-webkit-mask: var(--mask);
						mask: var(--mask)
	}
}

main {
	align-self: center;
	padding: .5em
}

footer {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		padding-bottom: .5em
	}
	
	li { padding: 0 .5em }
}
