extends /templ/_page.pug

block title
	title This Thing - Ana Tudor

block extra_style
	link(rel='stylesheet' src='index.css')

block header
	h1(style=`--text: 'This Thing'`)
		span(aria-hidden='true' style='--i: 0')
		span(aria-hidden='true' style='--i: 1')
		span This Thing

block content
	section
		p Behind the code
